node_modules
tsconfig.tsbuildinfo
.angular/cache/17.2.3/site-selection/.tsbuildinfo
dist
.angular/cache
.angular
.angular/cache/17.2.3/site-selection/.tsbuildinfo
.angular/cache/17.2.3/site-selection/.tsbuildinfo
.angular\cache\17.2.3